
QLabel, WidgetLabel{
  color : rgba[text_color_normal];
}

QLabel#Thumbnail{
  border-style : solid;
  border-width: 1px;
  border-color : rgba[widget_dark_color];
  background: rgba[widget_base_color];
}

QPushButton{
  color : rgba[text_color_normal];
  outline : none;
  padding : 0px;
  margin : 0px;
  background :  rgba[widget_base_color];
  border-style: solid;
  border-width: [int(1*ui_scale)]px;
  border-top-color: rgba[lighten(widget_base_color,0.15)];
  border-left-color: rgba[lighten(widget_base_color,0.15)];
  border-right-color: rgba[darken(widget_base_color,0.35)];
  border-bottom-color: rgba[darken(widget_base_color,0.35)];
}
QPushButton:hover{
  background :  rgba[lighten(widget_base_color,0.1)];
}
QPushButton:pressed{
  background :  rgba[darken(widget_base_color,0.25)];
  border-top-color: rgba[darken(background_color,0.1)];
  border-left-color: rgba[darken(background_color,0.1)];
  border-right-color: rgba[widget_base_color];
  border-bottom-color: rgba[widget_base_color];

}
QPushButton#Transparent{
  background : transparent;
  outline : none;
  border : none;
  padding : 0;
}
QPushButton#BorderLess{
  border: none;
}

QPushButton#Menu{
  font-size: [10.5*ui_scale]px;
  background : transparent;
  border: none;
  padding : 0;
  text-align : left;
  color : rgba[darken(text_color_normal,0.25)];
}
QPushButton#Menu:hover{
  color : rgba[text_color_normal];
}

QPushButton#Status{
  max-height: [18*ui_scale]px;
  min-height: [18*ui_scale]px;
  border-radius: 9px;
  border-width : 0px;
  padding-left: 7px;
  padding-right: 7px;
}



QSpinBox, QDoubleSpinBox{
  color : rgba[text_color_normal];
  background: rgba[lighten(widget_base_color,0.05)];
  selection-background-color : rgba[select_text_bg];
  border-style: solid;
  border-width: [1*ui_scale]px;
  border-color: rgba[darken(widget_base_color, 0.3)];

}
QSpinBox:focus, QDoubleSpinBox:focus{
  background: rgba[lighten(widget_base_color,0.05)];
  border-color: rgba[lighten(widget_bright_color,0.3)];
  border-left-width: [2*ui_scale]px;
  border-left-color: rgba[highlight_color];
}


Frame#SliderFrame {
  background: rgba[highlight_color];
  border-top-color: rgba[darken(highlight_color,0.2)];
  border-left-color: rgba[darken(highlight_color,0.2)];
  border-right-color: rgba[lighten(highlight_color,0.1)];
  border-bottom-color: rgba[lighten(highlight_color,0.1)];
}


QLabel#editable {
  color : rgba[text_color_normal];
  background: rgba[darken(widget_base_color,0.04)];
  border-style: solid;
  border-radius: [2*ui_scale]px;
  border-width: [1*ui_scale]px;
  border-color: rgba[darken(widget_base_color,0.3)];
}
QLabel#editable:hover {
  background: rgba[lighten(widget_base_color,0.04)];
  border-color: rgba[darken(widget_base_color,0.1)];
}

QLineEdit {
  color : rgba[text_color_normal];
  background: rgba[darken(widget_base_color,0.04)];
  selection-background-color : rgba[select_text_bg];
  border-style: solid;
  border-radius: [2*ui_scale]px;
  border-width: [1*ui_scale]px;
  border-color: rgba[darken(widget_base_color,0.3)];
}
QLineEdit:focus{
  background: rgba[lighten(widget_base_color,0.05)];
  border-color: rgba[lighten(widget_bright_color,0.3)];
  border-left-width: [2*ui_scale]px;
  border-left-color: rgba[highlight_color];
}
QPlainTextEdit {
  padding : 3px;
  color : rgba[text_color_normal];
  background: rgba[darken(widget_base_color,0.04)];
  selection-background-color : rgba[select_text_bg];
  border-style: solid;
  border-radius: [2*ui_scale]px;
  border-width: [1*ui_scale]px;
  border-color: rgba[darken(widget_base_color,0.3)];
}
QPlainTextEdit:focus{
  background: rgba[lighten(widget_base_color,0.05)];
  border-color: rgba[lighten(widget_bright_color,0.3)];
}



QLineEdit#String {
  background: transparent;
  border : none;
}

QCheckBox {
  outline : none;
  color : rgba[text_color_normal];
}
QCheckBox::indicator {
    width : [18*ui_scale]px;
    height : [17*ui_scale]px;
    background : rgba[widget_base_color];
    border-radius: [int(border_radius*ui_scale)*2]px;
    border-style: solid;
    border-width: [1*ui_scale]px;
    border-top-color: rgba[lighten(widget_base_color,0.25)];
    border-left-color: rgba[lighten(widget_base_color,0.25)];
    border-right-color: rgba[darken(background_color,0.15)];
    border-bottom-color: rgba[darken(background_color,0.15)];
}
QCheckBox::indicator:hover {
  background : rgba[lighten(widget_base_color,0.1)];;
}
QCheckBox::indicator:checked {
  image: url([ICON_DIR+'/check_32.png']);
  background : rgba[highlight_color];
  border-top-color: rgba[darken(background_color,0.15)];
  border-left-color: rgba[darken(background_color,0.15)];
  border-right-color: rgba[lighten(widget_base_color,0.25)];
  border-bottom-color: rgba[lighten(widget_base_color,0.25)];
}

QListWidget#UIList {
  color : rgba[text_color_normal];
  background : rgba[lighten(widget_dark_color,0.15)];
  alternate-background-color: rgba[lighten(widget_dark_color,0.15)];
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba[darken(widget_dark_color,0.2)];
  outline: 0;
}
QListWidget#UIList::item{
  margin : 1px;
  outline: 0;
  border : none
}
QListWidget#UIList::item:hover {
  background-color : rgba[widget_base_color];
}
QListWidget#UIList::item:selected {
  background-color : rgba[highlight_color];
}



QListWidget#AssetList {
  background : rgba[widget_dark_color];
  alternate-background-color: rgba[lighten(widget_dark_color,0.15)];
  border-radius: 0px;
  border-style: solid;
  border-width: 0px;
  border-top-width: [int(1*ui_scale)]px;
  border-color: rgba[darken(widget_dark_color,0.2)];
  outline: 0;
}
QListWidget#AssetList::item{
  outline: none;
  border-radius: 0px;
  border-style: solid;
  border-width: [int(1*ui_scale)]px;
  border-top: none;
  border-color: rgba[darken(widget_dark_color,0.2)];
}

QListWidget#AssetList::item:hover {
  background-color : rgba[hover_color];
}
QListWidget#AssetList::item:selected {
  background-color : rgba[highlight_color];
}

/*
AssetItem {
  border-radius: 0px;
  border-style: solid;
  border-width: [int(1*ui_scale)]px;
  border-top: none;
  border-color: rgba[darken(widget_dark_color,0.2)];

}


AssetItem:hover {
  background : rgba[widget_base_color];
}
AssetItem::selection {
  background : rgba[highlight_color];
}
*/

QListWidget#ListEnum{
  background: transparent;
  border-style: solid;
  border : none;
  outline: none;
}
QListWidget#ListEnum::item {
  color : rgba[darken(text_color_normal,0.25)];
  background : rgba[widget_base_color];
  outline: none;
  border : none;
  margin : 0px;
}
QListWidget#ListEnum::item:hover {
  background : rgba[lighten(widget_base_color, 0.20)];
}
QListWidget#ListEnum::item:selected {
  background : rgba[highlight_color];
  color : rgba[lighten(text_color_normal,0.25)];
  border-top-color: rgba[lighten(highlight_color,0.2)];
  border-left-color: rgba[lighten(highlight_color,0.2)];
  border-right-color: rgba[darken(highlight_color,0.25)];
  border-bottom-color: rgba[darken(highlight_color,0.25)];
}

ComboBoxItem {
  color : rgba[text_color_normal];
  background: rgba[widget_base_color];
  border: none;
  border-width : 0px;
  outline: none;
}
ComboBoxItem:hover{
  background : rgba[lighten(widget_base_color, 0.15)];
  border-color : rgba[lighten(widget_base_color, 0.15)];
}
ComboBoxItem:checked{
  background : rgba[highlight_color];
  color : rgba[lighten(text_color_normal,0.2)];
  border-color: rgba[highlight_color];
}


QComboBox {
  min-height : [22*ui_scale]px;
  max-height : [22*ui_scale]px;
  color : rgba[text_color_normal];
  background :  rgba[widget_very_dark_color];
  border-style : solid;
  border-width : [int(ui_scale)]px;
  border-left-width : [int(2*ui_scale)]px;
  border-left-color: rgba[widget_base_color];
  border-top-color: rgba[darken(widget_very_dark_color,0.05)];
  border-right-color: rgba[darken(widget_very_dark_color,0.05)];
  border-bottom-color: rgba[darken(widget_very_dark_color,0.05)];
  padding-left:  [int(6*ui_scale)]px;
  padding-right:  [int(2*ui_scale)]px;
}

QComboBox:hover {
  border-left-color: rgba[highlight_color];
  border-top-color: rgba[widget_base_color];
  border-right-color: rgba[widget_base_color];
  border-bottom-color: rgba[widget_base_color];
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background-color : rgba(0,0,0,40);
}
QComboBox::drop-down {
  border: none;
}
QComboBox::down-arrow {
  image: url([ICON_DIR+'/down.png']);
  width : [8*ui_scale]px;
  height : [8*ui_scale]px;
}
QComboBox QAbstractItemView {
  background-color : rgba[darken(widget_dark_color,0.2)];
  color : rgba[text_color_normal];
  font-weight : 500;
  font-size : [int(11*ui_scale)]px;
  outline: none;
  padding-left: [1*ui_scale]px;
  padding-right: [1*ui_scale]px;
  padding-bottom : [1*ui_scale]px;
}
 QComboBox QAbstractItemView:item {
   padding-left: [5*ui_scale]px;
   padding-right: [5*ui_scale]px;
   background-color: rgba(0,0,0,0);
   height : [22*ui_scale]px;
 }
 QListView::item:selected {
   background-color : rgb(85,127,193);
   color : rgba[text_color_normal];
 }
 QComboBox QScrollBar:vertical {
     width: [6*ui_scale]px;
     padding : [0*ui_scale]px;
}


QTabWidget::pane {
    border-style : solid;
}
QTabWidget {
    background : rgba[background_color];
}
QTabBar {
    background : rgba[background_color];
    font-size : [int(11*ui_scale)]px;
    font-weight : 500;

}
QTabBar::tab {
  color :  rgba[darken(text_color_normal,0.15)];
  background-color : rgba[darken(widget_dark_color,0.1)];
  border-top-left-radius: [border_radius]px;
  border-top-right-radius: [border_radius]px;
  border-style : solid;
  border-radius : 0px;
  border-top-left-radius : [int(border_radius*ui_scale)]px;
  border-bottom-left-radius : [int(border_radius*ui_scale)]px;
  border-color: rgba[darken(background_color,0.1)];
  border-width : 0px;
  padding-top : [int(4*ui_scale)]px;
  padding-bottom : [int(5*ui_scale)]px;
  padding-left: [int(8*ui_scale)]px;
  padding-right : [int(8*ui_scale)]px;
  margin-top : [int(2*ui_scale)]px;
  margin-left : [int(2*ui_scale)]px;
  }
QTabBar::tab:hover {
  color :  rgba[text_color_normal];
}
QTabBar::tab:selected {
  border-width : 0px;
  border-top-width : [int(2*ui_scale)]px;
  border-color: rgba[highlight_color];
  color :  rgba[text_color_normal];
  background-color : rgba[widget_dark_color];
}

QScrollArea {
    border : none;
    min-height: [int(26*ui_scale)]px;
}
QScrollBar {
    background : rgba[darken(widget_dark_color, 0.1)];
    border-width : 0px;
}
QScrollBar:vertical {
    width: [16*ui_scale]px;
    padding : [2*ui_scale]px;
}
QScrollBar::handle:vertical {
    background: rgba[widget_base_color];
    border-radius : [int(5*ui_scale)]px;
}
QScrollBar::handle:vertical:hover {
    background : rgba[lighten(widget_base_color, 0.2)];
}
QScrollBar::add-line:vertical {
    background: none;
    height: 0px;
}
QScrollBar::sub-line:vertical {
    background: none;
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
    height: 0px;
}

Frame#tiny{ min-width : [int(1*ui_scale)]px; min-height : [int(1*ui_scale)]px}
Frame#very_small{ min-width : [int(2*ui_scale)]px; min-height : [int(2*ui_scale)]px}
Frame#small{ min-width : [int(5*ui_scale)]px; min-height : [int(5*ui_scale)]px}
Frame#normal{ min-width : [int(8*ui_scale)]px; min-height : [int(8*ui_scale)]px}
Frame#big{ min-width : [int(12*ui_scale)]px; min-height : [int(12*ui_scale)]px}

*[IconSize=tiny]{ qproperty-iconSize : [int(ui_scale*6)]px [int(ui_scale*6)]px}
*[IconSize=very_small]{ qproperty-iconSize : [int(ui_scale*14)]px [int(ui_scale*12)]px}
*[IconSize=small]{ qproperty-iconSize : [int(ui_scale*16)]px [int(ui_scale*16)]px}
*[IconSize=normal]{ qproperty-iconSize : [int(ui_scale*20)]px [int(ui_scale*20)]px}
*[IconSize=big]{ qproperty-iconSize : [int(ui_scale*24)]px [int(ui_scale*24)]px}
*[IconSize=very_big]{ qproperty-iconSize : [int(ui_scale*32)]px [int(ui_scale*32)]px}

*[Vpadding=very_small]{ padding-top : [ui_scale*2]px; padding-bottom : [ui_scale*2]px }
*[Vpadding=small]{ padding-top : [ui_scale*4]px; padding-bottom : [ui_scale*4]px }
*[Vpadding=normal]{ padding-top : [ui_scale*8]px; padding-bottom : [ui_scale*8]px }
*[Vpadding=big]{ padding-top : [ui_scale*12]px; padding-bottom : [ui_scale*12]px }
*[Vpadding=very_big]{ padding-top : [ui_scale*16]px; padding-bottom : [ui_scale*16]px }

*[Hpadding=very_small]{ padding-left : [ui_scale*2]px; padding-right : [ui_scale*2]px }
*[Hpadding=small]{ padding-left : [ui_scale*4]px; padding-right : [ui_scale*4]px }
*[Hpadding=normal]{ padding-left : [ui_scale*8]px; padding-right : [ui_scale*8]px }
*[Hpadding=big]{ padding-left : [ui_scale*12]px; padding-right : [ui_scale*12]px }
*[Hpadding=very_big]{ padding-left : [ui_scale*16]px; padding-right : [ui_scale*16]px }
*[Hpadding=huge]{ padding-left : [ui_scale*20]px; padding-right : [ui_scale*20]px }

*[Lpadding=very_small]{ padding-left : [ui_scale*2]px }
*[Lpadding=small]{ padding-left : [ui_scale*4]px }
*[Lpadding=normal]{ padding-left : [ui_scale*8]px }
*[Lpadding=big]{ padding-left : [ui_scale*12]px }
*[Lpadding=very_big]{ padding-left : [ui_scale*16]px }
*[Lpadding=huge]{ padding-left : [ui_scale*20]px }

*[Rpadding=very_small]{ padding-right : [ui_scale*2]px }
*[Rpadding=small]{ padding-right : [ui_scale*4]px }
*[Rpadding=normal]{ padding-right : [ui_scale*8]px }
*[Rpadding=big]{ padding-right : [ui_scale*12]px }
*[Rpadding=very_big]{ padding-right : [ui_scale*16]px }
*[Rpadding=huge]{ padding-right : [ui_scale*20]px }

*[Vmargin=very_small]{ margin-top : [ui_scale*2]px; margin-bottom : [ui_scale*2]px }
*[Vmargin=small]{ margin-top : [ui_scale*4]px; margin-bottom : [ui_scale*4]px }
*[Vmargin=normal]{ margin-top : [ui_scale*8]px; margin-bottom : [ui_scale*8]px }
*[Vmargin=big]{ margin-top : [ui_scale*12]px; margin-bottom : [ui_scale*12]px }
*[Vmargin=very_big]{ margin-top : [ui_scale*16]px; margin-bottom : [ui_scale*16]px }
*[Vmargin=huge]{ margin-top : [ui_scale*20]px; margin-bottom : [ui_scale*20]px }

*[Hmargin=very_small]{ margin-left : [ui_scale*2]px; margin-right : [ui_scale*2]px }
*[Hmargin=small]{ margin-left : [ui_scale*4]px; margin-right : [ui_scale*4]px }
*[Hmargin=normal]{ margin-left : [ui_scale*8]px; margin-right : [ui_scale*8]px }
*[Hmargin=big]{ margin-left : [ui_scale*12]px; margin-right : [ui_scale*12]px }
*[Hmargin=very_big]{ margin-left : [ui_scale*16]px; margin-right : [ui_scale*16]px }
*[Hmargin=huge]{ margin-left : [ui_scale*20]px; margin-right : [ui_scale*20]px }

*[Rounded=none]{ border-radius : 0px }
*[Rounded=normal]{ border-radius : [ui_scale*border_radius]px }
*[Rounded=big]{ border-radius : [3*ui_scale*border_radius]px }
*[Rounded=very_big]{ border-radius : [4*ui_scale*border_radius]px }

*[Width=micro]{ min-width : [int(4*ui_scale)]px; max-width : [int(4*ui_scale)]px}
*[Width=very_tiny]{ min-width : [int(6*ui_scale)]px; max-width : [int(6*ui_scale)]px}
*[Width=tiny]{ min-width : [int(10*ui_scale)]px; max-width : [int(10*ui_scale)]px}
*[Width=very_small]{ min-width : [int(14*ui_scale)]px; max-width : [int(14*ui_scale)]px}
*[Width=small]{ min-width : [int(18*ui_scale)]px; max-width : [int(18*ui_scale)]px}
*[Width=normal]{ min-width : [int(22*ui_scale)]px; max-width : [int(22*ui_scale)]px}
*[Width=big]{ min-width : [int(26*ui_scale)]px; max-width : [int(26*ui_scale)]px}
*[Width=very_big]{ min-width : [int(30*ui_scale)]px; max-width : [int(30*ui_scale)]px}
*[Width=huge]{ min-width : [int(42*ui_scale)]px; max-width : [int(42*ui_scale)]px}
*[Width=very_huge]{ min-width : [int(52*ui_scale)]px; max-width : [int(52*ui_scale)]px}

*[Height=micro]{ min-height : [int(4*ui_scale)]px; max-height : [int(4*ui_scale)]px}
*[Height=very_tiny]{ min-height : [int(6*ui_scale)]px; max-widheightth : [int(6*ui_scale)]px}
*[Height=tiny]{ min-height : [int(10*ui_scale)]px; max-height : [int(10*ui_scale)]px}
*[Height=very_small]{ min-height : [int(14*ui_scale)]px; max-height : [int(14*ui_scale)]px}
*[Height=small]{ min-height : [int(18*ui_scale)]px; max-height : [int(18*ui_scale)]px}
*[Height=normal]{ min-height : [int(22*ui_scale)]px; max-height : [int(22*ui_scale)]px}
*[Height=big]{ min-height : [int(26*ui_scale)]px; max-height : [int(26*ui_scale)]px}
*[Height=very_big]{ min-height : [int(30*ui_scale)]px; max-height : [int(30*ui_scale)]px}
*[Height=huge]{ min-height : [int(42*ui_scale)]px; max-height : [int(42*ui_scale)]px}
*[Height=very_huge]{ min-height : [int(52*ui_scale)]px; max-height : [int(52*ui_scale)]px}

*[FontWeight=light]{ font-weight : 400 }
*[FontWeight=normal]{ font-weight : 500 }
*[FontWeight=bold]{ font-weight : 600 }

*[FontSize=tiny]{ font-size : [int(9.5*ui_scale)]px }
*[FontSize=very_small]{ font-size : [int(10*ui_scale)]px }
*[FontSize=small]{ font-size : [int(10.5*ui_scale)]px }
*[FontSize=normal]{ font-size : [int(11*ui_scale)]px  }
*[FontSize=big]{ font-size : [int(12.5*ui_scale)]px  }
*[FontSize=very_big]{ font-size : [int(13*ui_scale)]px }

*[FontColor=disabled]{ color : rgba[text_color_disabled]}
*[FontColor=normal]{ color : rgba[text_color_normal] }
*[FontColor=highlight]{ color : rgba[text_color_highlight]  }

*[Background=transparent] { background : transparent }
*[Background=very_dark] { background : rgba[background_color] }
*[Background=dark] { background : rgba[widget_dark_color] }
*[Background=medium] { background : rgba[lighten(widget_dark_color, 0.15)] }
*[Background=normal] { background : rgba[widget_base_color] }
*[Background=bright] { background : rgba[widget_bright_color] }
